[Desktop Entry]
Name[zh_CN]=st
Comment=simple-terminal emulator for X
Exec=st
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
